<!DOCTYPE html>
<div layout-padding layout-fill>
  <div ng-if="!vm.viewOptionGroupsFlag">
    <form name="editField" class="dhForm" novalidate>
      <div class="formHead">
        Edit {{vm.editField.label}}
      </div>
      <div layout-column layout-padding>
        <label>
          Field Identification
        </label>
        <md-input-container>
          <label>ID</label>
          <input type="text" ng-model="vm.editField.id" aria-label="Edit Field ID" required>
          <div ng-show="editField.id.$invalid" ng-messages="editField.id.$error">
            <div ng-message="required">ID field is required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Label</label>
          <input type="text" ng-model="vm.editField.label" aria-label="Edit Field Label" required>
        </md-input-container>
        <md-divider></md-divider>
        <label>
          Key/Required:
        </label>
        <div layout="row" layout-align="center center">
          <div layout="column" layout-align="center center" flex>
            <md-switch ng-model="vm.editField.primaryKey" aria-label="Make Primary Key Toggle" layout="column">
              Make field (part of) the primary key
            </md-switch>
          </div>
          <div layout="column" layout-align="center center" flex>
            <md-switch ng-model="vm.editField.required" aria-label="Require Field Toggle" layout="column">
              Make field required
            </md-switch>
          </div>
        </div>
        <md-divider></md-divider>
        <label>
          Type of Field:
        </label>
        <div layout="row" layout-align="center center">
          <div layout="row" layout-align="center center" flex>
            <div class="gap">
              Input Type:
            </div>
            <md-select ng-model="vm.editField.inputType" class="gap" placeholder="Select input type" aria-label="Input Type Selection">
              <md-option ng-repeat="type in vm.inputTypes" ng-value="type.id">
                {{type.label}}
              </md-option>
            </md-select>
          </div>
          <div layout="column" layout-align="center center" flex>
            <div ng-if="vm.editField.inputType=='input'" layout="row" layout-align="center center">
              <div class="gap">
                Data Type:
              </div>
              <md-select ng-model="vm.editField.dataType" class="gap" placeholder="Select data type" aria-label="Data Type Selection">
                <md-option ng-repeat="type in vm.dataTypes" ng-value="type.id">
                  {{type.label}}
                </md-option>
              </md-select>
            </div>
          </div>
          <div ng-if="vm.editField.inputType=='select' || vm.editField.inputType=='checkbox'" layout="row" layout-align="center center">
            <div>
              Choose Option Group:
            </div>
            <md-select ng-model="vm.editField.options" placeholder="Select Option Group" aria-label="Option Group Selection" required>
              <md-option ng-repeat="group in vm.optionGroups | orderObjectBy:'order'" ng-value="group.id">
                {{group.label}}
              </md-option>
            </md-select>
          </div>
        </div>
        <md-divider></md-divider>
        <label>
          Auxiliary Text
        </label>
        <div layout="row">
          <md-input-container flex>
            <label>
              Field placeholder
            </label>
            <input type="text" ng-model="vm.editField.placeholder" aria-label="Field placeholder input">
          </md-input-container>
          <md-input-container flex>
            <label>
              Field help text
            </label>
            <input type="text" ng-model="vm.editField.helpText" aria-label="Field help text input">
          </md-input-container>
        </div>
        <md-divider></md-divider>
        <label>
          Move/Delete Field
        </label>
        <div layout="row" layout-align="center center">
          <div layout="column" layout-align="center center" flex>
            <md-icon ng-click="vm.remove()" md-font-library="material-icons" class="dhRed">delete</md-icon>
            <span ng-click="vm.remove()">Delete</span>
          </div>
          <div layout="row" layout-align="center center" flex>
            <span ng-if="vm.fields[vm.fields.exists(vm.field)].order>0" ng-click="vm.fields.moveUp(vm.field)">
            <md-icon md-font-library="material-icons">arrow_drop_up</md-icon>
            Move Up
          </span>
            <span ng-if="vm.fields[vm.fields.exists(vm.field)].order<=0" class="dhDisabled">
            <md-icon md-font-library="material-icons">arrow_drop_up</md-icon>
            Move Up
          </span>
            <span ng-if="vm.fields[vm.fields.exists(vm.field)].order<vm.fields.count()-1" ng-click="vm.fields.moveDown(vm.field)">
            <md-icon md-font-library="material-icons">arrow_drop_down</md-icon>
            Move Down
          </span>
            <span ng-if="vm.fields[vm.fields.exists(vm.field)].order>=vm.fields.count()-1" class="dhDisabled">
            <md-icon md-font-library="material-icons">arrow_drop_down</md-icon>
            Move Down
          </span>
          </div>
        </div>
        <div layout="row">
          <div layout="column" layout-align="center center" flex>
            <md-button ng-click="vm.update()" ng-disabled="editField.$invalid" class="md-primary center" aria-label="Submit Field Changes">
              <md-icon md-font-library="material-icons">done</md-icon>
              <div>Submit Changes</div>
            </md-button>
          </div>
          <div layout="column" layout-align="center center" flex>
            <md-button ng-click="vm.cancel()" ng-disabled="editField.$invalid" class="md-primary center" aria-label="Cancel Field Changes">
              <md-icon md-font-library="material-icons">cancel</md-icon>
              <div>Cancel Changes</div>
            </md-button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="gap"></div>

  <div layout="column">
    <md-button ng-if="!vm.viewOptionGroupsFlag" ng-click="vm.viewOptionGroupsFlag=!vm.viewOptionGroupsFlag" aria-label="View Option Groups">View Option Groups</md-button>
    <md-button ng-if="vm.viewOptionGroupsFlag" ng-click="vm.viewOptionGroupsFlag=!vm.viewOptionGroupsFlag" aria-label="Hide Option Groups">Hide Option Groups</md-button>
  </div>

  <div class="gap"></div>

  <div ng-if="vm.viewOptionGroupsFlag">
    <md-toolbar class="dhToolbar">
      <div class="header2" layout-padding>
        Option Groups
      </div>
    </md-toolbar>
    <dh-group-add schema="vm.schema"></dh-group-add>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs flex>
      <md-tab ng-repeat="group in vm.optionGroups  | orderObjectBy:'order'" label="{{group.label}}">
        <dh-group-edit group="group.id" schema="vm.schema"></dh-group-edit>
      </md-tab>
    </md-tabs>
  </div>
</div>